@font-face {
  font-family: "iconfont"; /* Project id 4634442 */
  src: url('iconfont.woff2?t=1721982894723') format('woff2'),
       url('iconfont.woff?t=1721982894723') format('woff'),
       url('iconfont.ttf?t=1721982894723') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-weixin:before {
  content: "\e656";
}

.icon-bilibili-:before {
  content: "\e600";
}

.icon-QQ:before {
  content: "\e882";
}
